
.containerAbout {
    height: 100vh;
}
.titleAbout {
    padding-top: 7rem;
    margin-left: 2rem;
    font-size: 15px;
}
.aboutP {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 45rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

