
.containerAbout {
    height: 100vh;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerGrid {
    margin-top: 7.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

.columnOne {
    width: 37rem;
    height: 24rem;
    border-radius: 20px;
    background-color: #F8F7F5;
    background: linear-gradient(to left, #E1DFDB, #B8B1AB);
    padding: 1rem;
    margin-left: 6rem;
}

.skills {
    font-size: 17px;
    margin-top: 5rem;
    margin-left: 12rem;
    width: 17rem;
    height: 16rem;
    background: linear-gradient(to bottom, #B6CDCF, #549BAB);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

