
.containerFooter {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.textFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8rem;
    font-size: 13px;
    color: #2b2b2b;
}
.name {
    font-family: 'BrittanySignature', sans-serif;
    color: #304352;
    font-size: 17px;
    margin-right: 0.4rem;
}
.socialMediaFooter {
    display: flex;
    justify-content: flex-end;
    margin-right:3rem;
    margin-top: 1.3rem;
    gap: 1rem;
}