.containerInit {
    width: 100%;
    /* height: 100vh; */
    height: 60vh;
}

.fullStack {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin: 12rem 0rem 0rem 8rem;
    color: #304352;
}

.developer {
    display: flex;
    justify-content: flex-end;
    font-size: 10rem;
    margin: 0rem 3rem 1rem 0rem;
    background: linear-gradient(45deg, #d7d2cc, #304352);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
} 


.developer {
  background: linear-gradient(to right,#d7d2cc 10%, #304352 50%, #2b2b2b 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite 2s;
  display: inline-block;

  display: flex;
  justify-content: flex-end;
  font-size: 10rem;
  margin: 0rem 3rem 1rem 0rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

  































































/*
TITILA UN TEXTO:
@keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .developer {
    font-size: 24px; 
    font-weight: bold; 
    position: relative;
    display: inline-block;
    animation: blink 1s infinite; 
  }

*/

/*
.rainbow-text {
  font-size: 24px; Ajusta el tamaño del texto según tus necesidades 
  font-weight: bold; Otras propiedades de estilo según tus preferencias
  background: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}
*/