
.containerNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    background: linear-gradient(to right, #312F30, #141414);
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    margin-right: 4rem;
}

.itemNav {
    list-style-type: none;
    color: #E9E9E8;
}