.main {
  display: flex;
  justify-content: center;
}
.containerNavFalse {
    top: 0;
    margin-top: 1.5rem;
    position: fixed;
}
.containerNavTrue {
    top: 0;
    margin-top: 1.5rem;
    position: fixed;
    display: flex;
    width: 70rem;
    height: 4rem;
    background-color: rgba(37, 35, 35, 0.7);
    backdrop-filter: blur(4px);
    border: rgb(20, 19, 19);
    border-radius: 50px;
}

.nav {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
}
.logotype {
    display: flex;
    margin-right: 20rem;
    text-decoration: none;
}
.itemNav {
    list-style-type: none;
    text-decoration: none;
}   