
.containerNav {
    top: 0;
    position: fixed;
    background-color: aquamarine;
}
.nav {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1.5rem;
}
.logotype {
    display: flex;
    margin-right: 20rem;
    text-decoration: none;
}
.itemNav {
    list-style-type: none;
    text-decoration: none;
}   