
.containerNotFound {
    height: 100vh;
    background: linear-gradient(to right, #312F30, #141414);
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 14rem;
    color: #E9E9E8;
    margin-top: 0rem;
}

.linkBackHome {
    font-size: 20px;
    padding-left: 33rem;
    color: #FE8D7B;
}