
.containerSkills {
    height: 100vh;
    padding-top: 6rem;
}
.titleSkills {
    padding: 10px;
    display: inline-block;
    margin-left: 2rem;
    font-size: 12px;
    border-style: solid;
    background: linear-gradient(45deg, #d7d2cc, #304352);
    border-image-slice: 1;
    border: none;
    border-radius: 20px;
    color: #2b2b2b;
    margin-bottom: 1rem;
}
.boxTool {
    display: inline-block;
    justify-content: center;
    padding: 1rem;
    margin: 0.7rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 120px;
    height: 65px;

}













.sectionOne {
    display: flex;
    justify-content: space-evenly;
}
.sectionTwo {
    display: flex;
    justify-content: space-evenly;
}
.sectionThree {
    display: flex;
    justify-content: space-evenly;
}
.nameTool {
    margin-left: 8px;
}


